language: node_js
cache:
  directories:
    - ~/.npm
  yarn: true
notifications:
  email: false
node_js:
  - '11'
  - '10'
  # - '9'
  - '8'
  - '6'
branches:
  only:
    - master
    - /^greenkeeper.*$/
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH="$HOME/.yarn/bin:$PATH"
script:
  - yarn install
  - yarn verify
  - ./scripts/run-on-node-version.sh 11 "npm install -g codacy-coverage && cat ./coverage/lcov.info | codacy-coverage"
  - ./scripts/run-on-node-version.sh 11 "npm install -g coveralls && cat ./coverage/lcov.info | coveralls"
